@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">MY CODE SVCK</h1>
    <p> A super ultra ultimate suprime project, use an ASP.NET web-based SCADA to control a motor.</p>
</div>


