@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

    @*<div class="card" style="width: 18rem;">
        <div class="card-header fs-4">
            Contributors
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Trần Trung Hiếu</li>
            <li class="list-group-item">châu Văn Hải</li>
            <li class="list-group-item">Trần Thanh Hoàng</li>
        </ul>
    </div>*@
 
<div class="container mt-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Angry Panda</h5>
            <h6 class="card-subtitle mb-2 text-muted">Trần Trung Hiếu</h6>
            <p class="card-text">A very... very... toxic programmer, rage every time when his code run into a bug. He can use Nvim btw :></p>
            <a href="https://www.facebook.com/profile.php?id=100011406147291" class="card-link"><i class="fa-brands fa-facebook fa-beat fa-2xl"></i></a>
            <a href="https://github.com/codeflac" class="card-link"><i class="fa-brands fa-github fa-spin-pulse fa-2xl"></i></a>
            
            
        </div>  
    </div>
</div>